.n2-heart-panel {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0 0.5em;

  .n2-heart-value {
    padding: 0 0.25em;
    font-weight: 900;
  }
}
