@use "./heart.panel";

$n2-main-font: monospace;

.n2-decayed-skills-container {
  border: solid 1px #359bed;
  padding: 1em 2em;
  margin: 1.5em;
  border-radius: 4px;

  .n2-decayed-skills-container-title {
    font-family: $n2-main-font;
    font-size: x-large;
    font-weight: 900;
  }

  .n2-decayed-skills-container-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .n2-decayed-skill {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px #36f;
      padding: 1em 2em;
      margin: 1em;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: #36f;
        color: white;

        .n2-decayed-skill-text {
          color: white;
        }
      }

      .n2-decayed-skill-text {
        font-family: $n2-main-font;
        color: #36f;
        font-size: large;
        font-weight: 900;
      }
    }
  }
}

.n2-goalOfDailyQuestContainer {
  border-radius: 0.5em;
  border: solid 5px rgb(var(--color-owl));

  .n2-goalOfDailyQuest {
    font-weight: 900;
    margin: 1em;

    .n2-goalOfDailyQuest-dailyGoalXP {
      font-size: 30px;
      line-height: 1.5em;
    }

    .n2-goalOfDailyQuest-dailyQuestSpentTime {
      font-size: 16px;
      color: rgb(var(--color-macaw));
    }
  }
}

.n2-btn {
  background-color: rgb(var(--color-macaw));
  border: solid 0.1em #aed5f5;
  border-bottom-width: 0.25em;
  color: var(--web-ui_button-color, rgb(var(--color-snow)));
  font: 700 var(--web-ui_button-font-size, 22px) /
      var(--web-ui_button-line-height, 1.2) din-round,
    sans-serif;
  border-radius: var(--__internal__border-radius, 0.3em);
  padding: 1em 1.2em;
  margin: 0.5em;
  cursor: pointer;
  box-shadow: 0 0 0.1em #999;
  transition: all 0.14s ease-in;
  position: relative;

  &:hover {
    box-shadow: 0em 0.12em 0.2em #999;
  }

  &:active {
    border-width: 0.1em;
    transform: translateY(0.25em);
  }
}

.n2-shortcut-desc {
  font-size: 11px;
  font-weight: 100;
  margin: 0.25em;
  top: 0;
  right: 0;
  position: absolute;
}

.n2-answer-status {
  position: absolute;
  font-size: 0.85rem;
  top: 120%;
}

.n2-removed {
  position: fixed !important;
  z-index: -1;
  top: -100vh;
}

:root[data-duo-theme="dark"] {
  @mixin dark_color {
    --web-ui_button-color: rgb(var(--color-black-text));
    // --web-ui_button-background-color: rgb(var(--color-snow-always-dark));
  }

  @include dark_color();

  button:not(._2eG05, ._1iDMv),
  [data-test*="button"] {
    @include dark_color();
    // --web-ui_button-background-color: rgb(var(--color-owl));
  }

  [data-test*="listenTap"] .animated-speaker-icon-lottie {
    fill: rgb(var(--color-black-text));
    stroke: rgb(var(--color-black-text));
  }
}

[role="progressbar"] {
  position: relative;
}
