doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Option
    link(rel="stylesheet", href="./options.css")
  body 
    form#mainForm

    ul
      li.entry
        span To know how to use this extension, please review 
        a(href="https://gitlab.com/nmhillusion/duolingo-chrome-extension/-/tree/main/docs/popup/README.md", target="_blank") this guideline

      li.entry
        span Click on extension icon in toolbar to open setting
        img.open-popup-demo(src="https://gitlab.com/nmhillusion/duolingo-chrome-extension/-/raw/main/resource/option/open-popup-demo.png?ref_type=heads&inline=false")

    script(src="./options.out.js")