:root {
  --mainColor: #00ce7f;
  --widthOfSwitchButton: 5em;

  --btn-switch--width: 28px;
  --btn-switch--border-radius-width: 3px;
  --btn-switch--thumb-width: 20px;
  --btn-switch--thumb-margin: 1px;
}

html,
body {
  padding: 0;
  margin: 0;
  object-fit: cover;
}

.container {
  width: 30em;
}

.title {
  padding: 1em;
  color: white;
  background-color: var(--mainColor);
  font-weight: 900;
}

.description {
  padding: 0.5em;
}

button[type="button"] {
  cursor: pointer;
  display: block;
  border: none;
}

.btn-switch {
  display: block;
  width: var(--btn-switch--width);
  height: 15px;
  position: relative;
  background-color: rgb(201, 201, 201);
  box-sizing: content-box;
  border-radius: var(--btn-switch--border-radius-width);
  padding: calc(2 * var(--btn-switch--thumb-margin));
}

.btn-switch::after {
  content: "";
  box-sizing: content-box;
  display: block;
  height: calc(100% - 2 * var(--btn-switch--thumb-margin));
  width: var(--btn-switch--thumb-width);
  position: absolute;
  top: var(--btn-switch--thumb-margin);
  z-index: 1;
  transition: all ease-in 0.43s;
  border-radius: var(--btn-switch--border-radius-width);
}

.btn-switch.off {
  border: solid 1px #555;
}
.btn-switch.off::after {
  left: calc(
    100% - var(--btn-switch--thumb-width) - var(--btn-switch--thumb-margin)
  );
  background-color: #444;
}

.btn-switch.on {
  border: solid 1px var(--mainColor);
}
.btn-switch.on::after {
  left: var(--btn-switch--thumb-margin);
  background-color: var(--mainColor);
}

.controls {
  padding: 0.5em;
  margin: 0.25em;
  border: solid 1px #eee;
}

.controls .control {
  display: grid;
  grid-template-columns: var(--widthOfSwitchButton) 1fr;
  font-size: 12px;
  align-items: center;
  margin: 0.5em 0;
}

.controls .control .btn-switch {
  margin: 0 1em;
}

.inform-to-reload {
  margin: 0;
  padding: 0.5em;
  color: goldenrod;
}
