- 
  var settingItemList = [
           'btn-onlyShowExp', 
           'btn-showHintOfWordBank', 
           'btn-autoClickNext', 
           'btn-showExtraStatusInTest', 
           'btn-autoEnableToggleToKeyboard'
  ];

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Popup
    link(rel="stylesheet", href="./popup.css")
  body 
    .container
      .title Duolingo Extension Setting
      .description 
        a(href="https://gitlab.com/nmhillusion/duolingo-chrome-extension/-/tree/main/docs/popup/README.md", target="_blank") How does it work?
      .controls
        .control
          button.btn-switch#btn-running(type="button")
          label(for="btn-running")

      .controls
        each id_ in settingItemList
          .control
            button.btn-switch(type="button",id=id_)
            label(for=id_)

      p.inform-to-reload
        i Please reload the page to applied change(s)
    script(src="popup.out.js")